<!-- Header -->
<div id="header-wrapper">
    <header id="header" class="container">

        <!-- Logo -->
            <div id="logo">
                <div>
                    
                    <img id="profileImg" src="images/me.jpg" alt="" />
                    <h1><a href="website2/index.html">Ian De Gracia</a></h1>
                </div>
                <div>
                    <span>Senior Software Engineer</span>
                    <span>15+ Years Experienced</span>
                    <span>Helping Startups-</span>
                    <span>SMBs Build Scalable .NET & PHP Solutions</span>
                </div>
            </div>

        <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a href="index.html">Home</a></li>
                    <li>
                        <a href="#">Menu</a>
                        <ul>
                            <li><a href="website2/index.html">About Me</a></li>
                            <li><a href="index.html">Website 1</a></li>
                            <li>
                                <a href="#">Web Templates - Blank</a>
                                <ul>
                                    <li><a href="#">Web Template 1</a></li>
                                    <li><a href="#">Web Template 2</a></li>
                                    <li><a href="#">Web Template 3</a></li>
                                    <li><a href="#">Web Template 4</a></li>
                                </ul>
                            </li>
                            <li><a href="website2/index.html">Website 2</a></li>
                        </ul>
                    </li>
                    <li><a href="no-sidebar.html">Clients</a></li>
                    <li><a href="left-sidebar.html">Sample Left</a></li>
                    <li><a href="right-sidebar.html">Sample Right</a></li>                    
                </ul>
            </nav>

    </header>
</div>